<landing-nav></landing-nav>
<main>
  <div class="upper">
    <div class="landing-text">
      <h5>You don't have to be single</h5>
      <h1>GingerMingle.com</h1>
      <button class='btn land-btn'type="button" ui-sref="register">Get Started</button>
    </div>
  </div>
  <div class="lower">
    <div id="slides_control">
      <div>
        <carousel interval="myInterval">
          <slide ng-repeat="slide in slides" active="slide.active">
            <div class="slide-container">
              <div class="img-container">
                <img class="slide-img" ng-src="{{slide.image}}">
              </div>
              <div class="carousel-info">
                <h3>{{slide.comment}}</h3>
                <h5>{{slide.user}}</h5>
              </div>
            </div>
          </slide>
        </carousel>
      </div>
    </div>
  </div>
</main>
