<landing-nav></landing-nav>
<div class="register-box">
  <h1>Login</h1>
  <form class="form-inline" ng-model="loginForm" >
    <label for="email">email</label>
    <input class="form-control" ng-model="loginForm.email" type="email" name="userName" value="">
    <label for="password">password</label>
    <input class="form-control" ng-model="loginForm.password" type="password" name="password" value="">
  </form>
  <input class="btn btn-login" type="button" ng-click="login()" value="Log In">
</div>
