<main-nav></main-nav>
<member-side></member-side>
<div class="right-side" ng-show="modal">
  <div class="info-box">
    <div class="top">
      <img class="littleImg" src="{{member.avatar}}" alt="" />
      <h3>{{member.username}}</h3>
      <h4>{{member.names.firstName}}  {{member.names.lastName}}</h4>
      <p>
        {{member.username}} is {{(member.distance * 69).toFixed(2)}} miles away
      </p>
    </div>
    <div class="chat">
      <h5>You do not have any messages with {{member.username}}</h5>
      <form class="form-inline messenger" action="index.html" method="post">
        <input type="text" class="form-control">
        <button type="submit" name="button" class="btn">Send</button>
      </form>
    </div>
  </div>
</div>
